<div id="cases">
<h1>MVH-Dashboard - Fälle</h1>

<p>
    Aufgeführt sind alle Fälle aus Onkostar, sortiert nach H-Nummer.
</p>

{% if cases.len() > 0 %}

<div style="display: grid; grid-template-columns: 1fr 3fr;">
    <div id="cases-graph" data-value='{{ json_data() }}'>
        <!-- graph will be loaded here -->
    </div>
    <div>
        <div class="case-count">
            <span id="options">
                <span>
                    <select id="visibility" onchange="window.changeVisibility(this.value)">
                        <option value="all">Alle Fälle anzeigen ({{ case_count() }})</option>
                        <option value="open">Nur offene Fälle anzeigen ({{ invalid_case_count() }})</option>
                        <option value="withh">Nur Fälle mit H-Nummer anzeigen ({{ hnummer_case_count() }})</option>
                    </select>
                </span>
                <span>
                    <input id="openAllCases" type="checkbox" onchange="window.openAllCases(this.checked)" />
                    <label for="openAllCases">Alle Fälle ausklappen</label>
                </span>
                <span>
                    <button hx-get="/mv-dashboard/cases" hx-target="#cases">Fälle neu laden</button>
                </span>
            </span>
        </div>
        <div class="submission-count">
            <div>
                <span>
                    <span class="summary-block">
                        Von <b>{{ case_count() }}</b> Fällen in Onkostar
                        sind <b class="valid-case-count">{{ valid_case_count() }}</b> abgeschlossen,
                        noch offen sind <b class="invalid-case-count">{{ invalid_case_count() }}</b> Fälle.
                    </span>
                </span>
            </div>
            {% if let Some(latest_mv_consent) = latest_mv_consent() %}
            <hr/>
            <div>
                Letzte Teilnahmeerklärung MVH:
                <ul>
                    <li>
                        <time datetime="{{ latest_mv_consent.date }}">{{ latest_mv_consent.date }}</time>
                        - von allen Fällen.
                        {% if latest_mv_consent.days_past > 14 %}
                        <b class="invalid-case-count">vor {{ latest_mv_consent.days_past }} Tagen</b>
                        {% endif %}
                    </li>
                    <li>
                        <time datetime="{{ latest_mv_consent.hnummer_date }}">{{ latest_mv_consent.hnummer_date }}</time>
                        - Fälle mit H-Nummer.
                        {% if latest_mv_consent.hnummer_days_past > 14 %}
                        <b class="invalid-case-count">vor {{ latest_mv_consent.hnummer_days_past }} Tagen</b>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% endif %}
            <hr/>
            <div>
                <ul>
                    <li>Beide Meldebestätigungen: <b class="valid-case-count">{{ submission_report().both }}</b></li>
                    <li>Meldebestätigung nur vom KDK: <b class="warning-case-count">{{ submission_report().kdk_only }}</b></li>
                    <li>Meldebestätigung nur vom GRZ: <b class="warning-case-count">{{ submission_report().grz_only }}</b></li>
                    <li>keine Meldebestätigung: <b class="invalid-case-count">{{ submission_report().missing_ongoing }}</b></li>
                    <li>keine Meldebestätigung (alle): <b class="invalid-case-count">{{ submission_report().missing_all }}</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr/>

{% for case in cases %}
<section
        {% if case.is_valid() %}
        class="case valid"
        {% else %}
        {% if case.has_valid_case_number() %} class="case invalid" {% else %} class="case invalid noh" {% endif %}
        {% endif %}>
    <details {% if !case.is_valid() %} open {% endif %}>
        <summary>
            {% if case.is_valid() %} ✅ {% else %} 😱 {% endif %}
            <span>{{ case.formatted_case_id() }}</span>
            {% if case.deceased %}
            <span class="deceased">✝️ Patient verstorben</span>
            {% endif %}
            {% if let Some(url) = case.onkostar_url() %}
            <a href="{{ url }}" target="_blank">In Onkostar öffnen</a>
            {% endif %}
        </summary>
        <div class="case-details">
            <div class="case-detail">
                <h4>Teilnahmeerklärung MVH</h4>
                {% match case.mv_consent %}
                {% when Some(mv_consent) %}
                <p {%if !mv_consent.sequencing %} class="invalid-part" {% endif %}>
                    <time datetime="{{ mv_consent.consent_date }}">{{ mv_consent.consent_date }}</time>
                </p>
                <ul>
                    {%if mv_consent.sequencing %}
                    <li>Sequenzierung zugestimmt</li>
                    {% else %}
                    <li>Sequenzierung nicht zugestimmt</li>
                    {% endif %}
                    {%if mv_consent.case_identification %}
                    <li>Fallidentifikation zugestimmt</li>
                    {% else %}
                    <li>Fallidentifikation nicht zugestimmt</li>
                    {% endif %}
                    {%if mv_consent.re_identification %}
                    <li>Reidentifizierung zugestimmt</li>
                    {% else %}
                    <li>Reidentifizierung nicht zugestimmt</li>
                    {% endif %}
                </ul>
                {% endwhen %}
                {% when None %}
                <p class="invalid-part">Keine Teilnahmeerklärung</p>
                {% endwhen %}
                {% endmatch %}
            </div>
            <div class="case-detail">
                <h4>Broad-Consent</h4>
                {% match case.broad_consent %}
                {% when Some(broad_consent) %}
                <p>
                    <time datetime="{{ broad_consent.consent_date }}">{{ broad_consent.consent_date }}</time>
                </p>
                <p>
                    Der Broad-Consent liegt in elektronischer Form vor.
                </p>
                {% endwhen %}
                {% when None %}
                <p class="invalid-part">Kein Broad-Consent in elektronischer Form</p>
                {% endwhen %}
                {% endmatch %}
            </div>
            <div class="case-detail">
                <h4>MTB Episode</h4>
                {% match case.mtb %}
                {% when Some(mtb) %}
                <p>
                    Anmeldung am: <time datetime="{{ mtb.registration_date }}">{{ mtb.registration_date }}</time>
                </p>
                {% if case.deceased_at_first_mtb %}
                <p class="invalid-part">
                    <b>✝️ Patient verstorben vor Indikation</b>
                </p>
                {% endif %}
                {% if mtb.care_plans.is_some() && !case.is_first_mtb_after_mv_consent() %}
                <p class="invalid-part">
                    <b>📆 Indikation vor Teilnahmeerklärung</b>
                </p>
                {% endif %}
                <div>
                    {% match mtb.care_plans %}
                    {% when Some(care_plans) %}
                    <p>{{ care_plans.len() }} {{ care_plans.len() | pluralize("Therapieplan", "Therapiepläne") }}</p>
                    <ul>
                        {% for plan in care_plans %}
                        <li>
                            {% if plan.mtb_type == Some("I".to_string()) %}
                            <b>Indikations</b>-MTB am
                            {% else if plan.mtb_type == Some("B".to_string()) %}
                            <b>Befund</b>-MTB am
                            {% else %}
                            MTB am
                            {% endif %}
                            <time datetime="{{ plan.date }}">{{ plan.date }}</time>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endwhen %}
                    {% when None %}
                    <p class="warning-part">Keine Therapiepläne</p>
                    {% endwhen %}
                    {% endmatch %}
                </div>
                <div>
                    {% match mtb.distinct_findings() %}
                    {% when Some(findings) %}
                    <p>{{ findings.len() }} {{ findings.len() | pluralize("MolGen-Befund", "MolGen-Befund") }}</p>
                    <ul>
                        {% for finding in findings %}
                        <li>
                            Befund vom
                            <time datetime="{{ finding.date }}">{{ finding.date }}</time>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endwhen %}
                    {% when None %}
                    <p class="warning-part">Keine MolGen-Befunde</p>
                    {% endwhen %}
                    {% endmatch %}
                </div>
                {% endwhen %}
                {% when None %}
                <p class="invalid-part">Kein MTB mit H-Nummer</p>
                {% endwhen %}
                {% endmatch %}
            </div>
            <div class="stacked">
                <div class="case-detail">
                    <h4>Meldebestätigung KDK</h4>
                    {% match case.clinical_submission %}
                    {% when Some(clinical_submission) %}
                    <p>
                        <time datetime="{{ clinical_submission.date }}">{{ clinical_submission.date }}</time>
                    </p>
                    {% if clinical_submission.id.is_empty() %}
                    <p class="warning-part">ohne Kennung</p>
                    {% else %}
                    <p {% if !case.has_valid_submissions() %} class="invalid-part" {% endif %}><b>{{ clinical_submission.sequencing_type }}</b> mit Kennung <code>{{ clinical_submission.id }}</code></p>
                    {% endif %}
                    {% endwhen %}
                    {% when None %}
                    <p class="invalid-part">Keine Meldebestätigung KDK</p>
                    {% endwhen %}
                    {% endmatch %}
                </div>
                <div class="case-detail">
                    <h4>Meldebestätigung GRZ</h4>
                    {% match case.genomic_submission %}
                    {% when Some(genomic_submission) %}
                    <p>
                        <time datetime="{{ genomic_submission.date }}">{{ genomic_submission.date }}</time>
                    </p>
                    {% if genomic_submission.id.is_empty() %}
                    <p class="warning-part">ohne Kennung</p>
                    {% else %}
                    <p {% if !case.has_valid_submissions() %} class="invalid-part" {% endif %}><b>{{ genomic_submission.sequencing_type }}</b> mit Kennung <code>{{ genomic_submission.id }}</code></p>
                    {% endif %}
                    {% endwhen %}
                    {% when None %}
                    <p class="invalid-part">Keine Meldebestätigung GRZ</p>
                    {% endwhen %}
                    {% endmatch %}
                </div>
            </div>
        </div>
    </details>
</section>
{% endfor %}

{% else %}
<b>Keine Fälle gefunden</b>
{% endif %}
</div>