<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVH-Dashboard</title>
    <link rel="stylesheet" href="/mv-dashboard/assets/main.css">
</head>
<body>
<nav>
    <span class="nav-name">MVH-Dashboard</span>
    <span class="nav-menu">
        <span class="nav-links">
            <a hx-get="/mv-dashboard/cases" hx-target="#cases" hx-indicator="#main-spinner">Fälle</a>
            <a hx-get="/mv-dashboard/followups" hx-target="#cases" hx-indicator="#main-spinner">FollowUps</a>
        </span>
        <span class="login">
            <svg width="24" height="24" viewBox="0 0 6.35 6.35" xmlns="http://www.w3.org/2000/svg">
             <g transform="matrix(1.2 0 0 1.2 -108.01 -85.977)">
              <rect x="90.01" y="71.647" width="5.2917" height="5.2917" rx=".96212" fill="#b3b3b3"/>
              <g transform="matrix(1.6667 0 0 1.6667 -60.888 -47.952)" fill="#fff">
               <circle cx="92.126" cy="72.802" r=".70556"/>
               <path d="m91.068 74.598a1.0583 1.0583 0 0 1 1.0583-1.0583 1.0583 1.0583 0 0 1 1.0583 1.0583h-1.0583z"/>
              </g>
             </g>
            </svg>
            <span>{{ username }}</span>
            <a href="/mv-dashboard/logout" class="button">Abmelden</a>
        </span>
    </span>
</nav>
<main>
    <div id="main-spinner" class="loading-indicator">
        Lade Daten ...
    </div>
    <div id="cases" hx-get="/mv-dashboard/cases" hx-trigger="load" hx-indicator="#main-spinner"></div>
</main>
<script src="/mv-dashboard/assets/main.js"></script>
</body>
</html>