@import "tailwindcss";

nav {
    @apply bg-gray-600 text-white p-4 flex flex-row justify-between;
    min-height: 5rem;
}

nav .nav-name {
    @apply text-3xl font-bold;
    align-self: center;
}

nav .nav-menu {
    @apply flex flex-row gap-4;
}

nav .login,
nav .nav-links {
    @apply flex flex-row gap-4;
    align-items: center;
}

nav .nav-links {
    @apply pr-8 mr-8 border-r-2 border-gray-500;
}

nav .nav-links a {
    @apply px-2 font-bold uppercase cursor-pointer;
}

nav .nav-links a:hover {
    @apply underline;
}

nav .login .button {
    @apply bg-red-900 text-white px-4 py-2 rounded-md;
}

nav .login .button:hover {
    @apply bg-red-950;
}

main {
    @apply container mx-auto grow;
}

h1 {
    @apply text-3xl font-bold;
}

ul > li {
    @apply list-disc list-inside;
}

time {
    @apply font-mono font-bold underline;
}

button,
input[type=checkbox],
input[type=radio] {
    @apply cursor-pointer
}

button {
    @apply bg-sky-900 text-white px-4 py-2 rounded-md;
}

input[type=text], input[type=password] {
    @apply border-b-2 border-b-sky-900 outline-none font-mono transition-colors duration-100
}
input[type=text]:focus-visible,
input[type=password]:focus-visible {
    @apply border-b-green-900
}

select {
    @apply appearance-none bg-gray-300 px-4 py-2 rounded pr-8;
}

.login-form {
    @apply shadow-md border-gray-500 border-2;

    width: fit-content;
    margin: 3rem auto;
    padding: 2em 5rem;

    border-radius: .5rem;
    background: white;
}

.login-form form {
    width: 20rem;
    margin: 0 auto;
    display: grid;
    grid-gap: .5rem;

    border: none;
    background: none;
}

.login-form form div {
    @apply flex flex-col my-4;
}

.login-form form label {
    font-size: .8rem;
    display: block;
}

.login-form img {
    margin: 0 auto;
    width: 4rem;
    display: block;
}

.followups {
    @apply grid grid-cols-4 gap-4;
}

section.case,
section.followup,
.case-count {
    @apply shadow-md border-gray-300 my-6 overflow-hidden;
    border-width: 1px;
    border-radius: .3rem;
}

section.case summary,
section.followup .followup-header {
    @apply text-lg bg-gray-800 px-2 font-bold relative cursor-pointer;
    color: white;
}

section.case.valid summary,
section.followup.valid .followup-header {
    @apply bg-green-800;
}

section.case.warning summary,
section.followup.warning .followup-header {
    @apply bg-yellow-600;
}

section.case.invalid summary,
section.followup.invalid .followup-header {
    @apply bg-red-800
}

section.case summary a,
section.followup .followup-header a {
    @apply text-white font-normal text-base px-2 h-full;
    border-left: 1px solid rgba(255,255,255,.4);
}

section.case summary a:before,
section.followup .followup-header a:before {
    @apply mr-2 text-sm;
    content: "🏥"
}

section.case summary a {
    @apply bg-green-900
}

section.case.invalid summary a {
    @apply bg-red-900
}

section.case summary a:hover {
    @apply bg-green-950
}

section.case.invalid summary a:hover {
    @apply bg-red-950
}

section.case summary span.deceased {
    @apply ml-4 font-normal;
}

section.case summary a:last-child,
section.followup .followup-header a:last-child {
    @apply absolute right-0;
}

section.case div.case-details {
    @apply flex flex-row
}

section.case div.case-details > div {
    @apply py-2 px-6 w-1/4 min-h-40 bg-green-100;
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%);
}

section.case div.case-details > div:first-child {
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 0 50%);
}

section.case div.case-details > div.stacked {
    @apply pl-2 p-0 grid grid-rows-2 gap-2 bg-transparent;
    clip-path: none;
}

section.case div.case-details > div.stacked > div {
    @apply py-2 px-6 bg-green-100;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 2.5% 50%);
}

section.case div.case-detail:has(.invalid-part),
section.case div.stacked > div.case-detail:has(.invalid-part) {
    @apply bg-red-200;
}

section.case div.case-detail:has(.warning-part),
section.case div.stacked > div.case-detail:has(.warning-part) {
    @apply bg-yellow-200;
}

section.case div.case-detail:has(.missing-part),
section.case div.stacked > div.case-detail:has(.missing-part) {
    @apply bg-gray-200;
}

section.case div.case-details h4 {
    @apply font-bold;
}

section.case div.case-details code {
    @apply bg-gray-200 font-mono p-1;
}

section.followup div.followup-details {
    @apply p-2;
}

section.followup.warning div.followup-details {
    background: repeating-linear-gradient(-45deg, var(--color-yellow-100), var(--color-yellow-100) 10px, transparent 10px, transparent 20px);
}

section.followup.invalid div.followup-details {
    background: repeating-linear-gradient(-45deg, var(--color-red-100), var(--color-red-100) 10px, transparent 10px, transparent 20px);
}

.case-count {
    @apply h-16 font-bold bg-gray-100 flex flex-row;
    align-content: center;
}

.case-count > span {
    @apply flex-1 px-2;
    align-content: center;
}

.case-count b {
    @apply font-bold text-white bg-gray-800 px-2 py-1 rounded-lg;
}

.case-count b.valid-case-count {
    @apply bg-green-800;
}

.case-count b.invalid-case-count {
    @apply bg-red-800;
}

.case-count #options {
    @apply font-normal bg-gray-200 border-l-gray-300 flex justify-end;
    border-left-width: 1px;
}

.case-count #options > span {
    @apply px-2;
    align-content: center;
}

.case-count #options button {
    @apply bg-green-800 ;
}

.loading-indicator {
    @apply opacity-0 transition-opacity duration-200 invisible p-1 bg-green-600 text-white text-sm text-center font-bold shadow-sm rounded-b-md;
}

.htmx-request.loading-indicator,
.htmx-request .loading-indicator {
    @apply opacity-100 visible;
}