@import "tailwindcss";

html {
    overflow-y: scroll;
}

body {
    position: relative;
    min-height: 100vh;
}

body:after {
    content: '';
    display: block;
    height: 4rem;
}

hr {
    @apply my-6 border-gray-400;
}

nav {
    @apply bg-gray-600 text-white p-4 flex flex-row justify-between;
    min-height: 5rem;
}

nav .nav-name {
    @apply text-3xl font-bold;
    align-self: center;
}

nav .nav-menu {
    @apply flex flex-row gap-4;
}

nav .login,
nav .nav-links {
    @apply flex flex-row gap-4;
    align-items: center;
}

nav .nav-links {
    @apply pr-8 mr-8 border-r-2 border-gray-500;
}

nav .nav-links a {
    @apply px-2 font-bold uppercase cursor-pointer;
}

nav .nav-links a:hover {
    @apply underline;
}

nav .login .button {
    @apply bg-red-900 text-white px-4 py-2 rounded-md;
}

nav .login .button:hover {
    @apply bg-red-950;
}

main {
    @apply container mx-auto grow;
}

h1 {
    @apply text-3xl font-bold my-4;
}

h2 {
    @apply text-2xl font-bold my-4;
}

time {
    @apply font-mono font-bold underline;
}

button,
input[type=checkbox],
input[type=radio] {
    @apply cursor-pointer
}

button {
    @apply bg-sky-900 text-white px-4 py-2 rounded-md;
}

input[type=text], input[type=password] {
    @apply border-b-2 border-b-sky-900 outline-none font-mono transition-colors duration-100
}
input[type=text]:focus-visible,
input[type=password]:focus-visible {
    @apply border-b-green-900
}

.login-form {
    @apply shadow-md border-gray-500 border-2;

    width: fit-content;
    margin: 3rem auto;
    padding: 2em 5rem;

    border-radius: .5rem;
    background: white;
}

.login-form form {
    width: 20rem;
    margin: 0 auto;
    display: grid;
    grid-gap: .5rem;

    border: none;
    background: none;
}

.login-form form div {
    @apply flex flex-col my-4;
}

.login-form form label {
    font-size: .8rem;
    display: block;
}

.login-form img {
    margin: 0 auto;
    width: 4rem;
    display: block;
}

.followups {
    @apply grid grid-cols-4 gap-4;
}

section.case,
section.followup,
.submission-count {
    @apply shadow-md border-gray-300 my-3 overflow-hidden;
    border-width: 1px;
    border-radius: .3rem;
}

section.case summary,
section.followup .followup-header {
    @apply text-lg bg-gray-800 px-2 font-bold relative cursor-pointer;
    color: white;
}

section.case.valid summary,
section.followup.valid .followup-header {
    @apply bg-green-800;
}

section.case.warning summary,
section.followup.warning .followup-header {
    @apply bg-yellow-600;
}

section.case.invalid summary,
section.followup.invalid .followup-header {
    @apply bg-red-800
}

section.case summary a,
section.followup .followup-header a {
    @apply text-white font-normal text-base px-2 h-full;
    border-left: 1px solid rgba(255,255,255,.4);
}

section.case summary a:before,
section.followup .followup-header a:before {
    @apply mr-2 text-sm;
    content: "🏥"
}

section.case summary a {
    @apply bg-green-900
}

section.case.invalid summary a {
    @apply bg-red-900
}

section.case summary a:hover {
    @apply bg-green-950
}

section.case.invalid summary a:hover {
    @apply bg-red-950
}

section.case summary span.case-state,
section.case summary span.deceased {
    @apply ml-4 font-normal;
}

section.case summary a:last-child,
section.followup .followup-header a:last-child {
    @apply absolute right-0;
}

section.case div.case-details {
    @apply flex flex-row
}

section.case div.case-details > div {
    @apply py-2 px-6 w-1/4 min-h-40 bg-green-100;
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%);
}

section.case div.case-details > div:first-child {
    clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 0 50%);
}

section.case div.case-details > div.stacked {
    @apply pl-2 p-0 grid grid-rows-2 gap-2 bg-transparent;
    clip-path: none;
}

section.case div.case-details > div.stacked > div {
    @apply py-2 px-6 bg-green-100;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 2.5% 50%);
}

section.case div.case-detail:has(.invalid-part),
section.case div.stacked > div.case-detail:has(.invalid-part) {
    @apply bg-red-200;
}

section.case div.case-detail:has(.warning-part),
section.case div.stacked > div.case-detail:has(.warning-part) {
    @apply bg-yellow-200;
}

section.case div.case-detail:has(.missing-part),
section.case div.stacked > div.case-detail:has(.missing-part) {
    @apply bg-gray-200;
}

section.case div.case-details h4 {
    @apply font-bold;
}

section.case div.case-details code {
    @apply bg-gray-200 font-mono p-1;
}

section.followup div.followup-details {
    @apply p-2;
}

section.followup.warning div.followup-details {
    background: repeating-linear-gradient(-45deg, var(--color-yellow-100), var(--color-yellow-100) 10px, transparent 10px, transparent 20px);
}

section.followup.invalid div.followup-details {
    background: repeating-linear-gradient(-45deg, var(--color-red-100), var(--color-red-100) 10px, transparent 10px, transparent 20px);
}

#cases-graph {
    @apply bg-white m-2 rounded-sm;
}

.statistics-main {
    @apply grid grid-cols-3 gap-2 text-lg font-normal my-2;
}

.statistics-more {
    @apply grid grid-cols-4 gap-2 font-normal my-2;
}

.statistics-consent {
    @apply grid grid-cols-2 gap-2 font-normal my-2;
}

.statistics-consent .statistics-card {
    @apply bg-gray-200;
}

.statistics-card {
    @apply rounded-sm text-center py-2;
}

.statistics-main .statistics-card-value {
    @apply text-5xl font-bold;
}

.statistics-more .statistics-card-value {
    @apply text-4xl font-bold;
}

.statistics-consent .statistics-card-value {
    @apply text-3xl font-bold text-gray-800 my-1;
}

.statistics-card-value {
    @apply text-white
}

.statistics-card.all {
    @apply bg-gray-600 text-gray-100;
}

.statistics-card.success {
    @apply bg-green-800 text-green-100;
}

.statistics-card.warning {
    @apply bg-yellow-600 text-yellow-100;
}

.statistics-card.error {
    @apply bg-red-800 text-red-100;
}

.submission-count h3 {
    @apply font-bold text-xl;
}

.submission-count {
    @apply font-bold bg-gray-100;
    align-content: center;
}

.submission-count {
    @apply p-2;
}

.submission-count b {
    @apply ml-1;
}

.submission-count li {
    @apply my-2;
    align-items: center;
}

.submission-count li:last-child:after {
    content: none;
}

#case-list {
    @apply flex flex-row justify-between;
    align-content: center;
}

#case-list > * {
    @apply mt-4;
    align-self: center;
}

#case-list select#visibility {
    @apply inline-block bg-gray-50 rounded-md text-2xl font-bold cursor-pointer py-2 px-1;
}

#case-list #options {
    @apply inline-grid grid-cols-2 bg-gray-100 rounded p-2 shadow-md border-gray-300;
}

#case-list #options > * {
    @apply text-right;
    align-self: center;
}

#case-list #options button {
    @apply bg-green-800;
}

.no-consent-days {
    @apply text-white bg-red-800 px-2 py-1 rounded-md;
}

.loading-indicator {
    @apply opacity-0 transition-opacity duration-200 invisible p-1 bg-green-600 text-white text-sm text-center font-bold shadow-sm rounded-b-md;
}

.htmx-request.loading-indicator,
.htmx-request .loading-indicator {
    @apply opacity-100 visible;
}

footer {
    @apply bg-gray-600 text-white p-4;
    position: absolute;
    width: 100%;
    height: 4rem;
    bottom: 0;
    align-content: center;
    text-align: center;
}